{
  "sourceMaps": true,
  "plugins": ["react-require", "add-module-exports", "transform-function-bind"],
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "next/babel"
  ]
}
