{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off"
  }
}
